.App {
  text-align: center;
  /*width: 100%; height: 100%;         */
    /* above all elements, even if z-index is used elsewhere
       it can be lowered as needed, but this value surpasses
       all elements when used on YouTube for example. */
    /*z-index: -9999999999;               */
    /* takes up 100% of page */
      /*background-color: #222;*/
    opacity:0.8;
    /*background-color:#ccc;*/
        background: #222930;

    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;

    /*opacity:0;*/
}
.list-box{
  width: 300px;
  height: 400px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*background-color: #222;*/
  height: 150px;
  padding: 20px;
  color: black;
}
#menu ul, #menu li {
    margin: 0; padding: 2px;
    text-align: middle;
}
.align-right{
  float: right;
}
.align-left{
  float: left;
}
.align-middle{
  float: middle;
}
.vertical-middle{
  /*vertical-align: middle;*/
/*  position: absolute;
  left: 30%;
*/
    margin: 0;
/*    background: #222930;
*/    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 

}
.App-intro {
  font-size: small;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
